<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.shade.ramjetd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ramjetd</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.shade.ramjetd</key>
		<true/>
	</dict>
	<key>UserName</key>
	<string>mobile</string>
	<key>ExecuteAllowed</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>